{% extends "layout.html" %} {% block container %} {% import "_macros.html" as
macros %}

<div class="py-32 relative overflow-x-auto sm:rounded-lg">
  <form action="" method="POST" novalidate class="max-w-md mx-auto">
    {{ form.csrf_token }}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="relative z-0 w-full mb-5 group">
        {{macros.camposNuevos(form.id, class="block py-2.5 px-0 w-full
        text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300
        appearance-none dark:text-white dark:border-gray-600
        dark:focus:border-blue-500 focus:outline-none focus:ring-0
        focus:border-blue-600 peer cursor-not-allowed")}}
      </div>

      <div class="relative z-0 w-full mb-5 group">
        {{macros.camposNuevos(form.nombre, class="block py-2.5 px-0 w-full
        text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300
        appearance-none dark:text-white dark:border-gray-600
        dark:focus:border-blue-500 focus:outline-none focus:ring-0
        focus:border-blue-600 peer")}}
      </div>

    <div class="relative z-0 w-full mb-5 group">
      {{macros.camposNuevos(form.apaterno, class="block py-2.5 px-0 w-full
      text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300
      appearance-none dark:text-white dark:border-gray-600
      dark:focus:border-blue-500 focus:outline-none focus:ring-0
      focus:border-blue-600 peer")}}
    </div>

    <div class="relative z-0 w-full mb-5 group">
      {{macros.camposNuevos(form.email, class="block py-2.5 px-0 w-full text-sm
      text-gray-900 bg-transparent border-0 border-b-2 border-gray-300
      appearance-none dark:text-white dark:border-gray-600
      dark:focus:border-blue-500 focus:outline-none focus:ring-0
      focus:border-blue-600 peer")}}
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
      <a href="" class="flex items-center gap-2 bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">
        <svg class="w-6 h-6 text-white-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
          </svg>
          
        Eliminar
    </a>
      <a href="index" class="bg-green-500 text-white px-4 py-2 rounded flex items-center gap-2 hover:bg-green-600">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        Cancelar
    </a>
    </div>
  </form>
</div>
{%endblock%}
